## --- Visual Studio ---
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
obj/
bin/
node_modules/
*.user
*.userosscache
*.sln.docstates
*.suo

## --- .NET Core / .NET 5+ ---
project.lock.json
project.fragment.lock.json
artifacts/

## --- Visual Studio Code ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## --- JetBrains Rider ---
.idea/
*.sln.iml

## --- Compilados y temporales ---
*.dll
*.exe
*.pdb
*.appref-ms
*.bak
*.tmp
*.log
publish/

## --- Sistema Operativo ---
.DS_Store
Thumbs.db